html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 450px;
}


/* py-config - not a component */
py-config {
  display: none
}

py-terminal {
  display: none
}

/* py-{el} - components not defined */
py-script:not(:defined) {
  display: none
}

py-repl:not(:defined) {
  display: none
}

/* .py-overlay, .py-pop-up, .label {
  display: none;
} */

@for $i from 1 through 4 {
  .gap-#{$i} {
    gap: #{$i}rem;
  }
}